<ion-header>
  <ion-toolbar color="duoc"  mode="ios" >
    <ion-buttons slot="start" > 
      <ion-back-button text="" icon="chevron-back-outline" color="amarilloduoc"></ion-back-button>
    </ion-buttons>

    <ion-title class="titulo">Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content   >
 
  <ion-card >
    <ion-card-content >
      <img src="assets/duocLogo.png">
      <p class="tituloCard">Acerca de</p><br>
      
      <p class="tituloCard">
        Versión: Beta 0.5
      </p>

      <p class="tituloCard">
        Patricio Navarrete | Ignacio Salazar
      </p>
  
    </ion-card-content> 
  </ion-card>

</ion-content>        
