<ion-header>
  <ion-toolbar color="duoc" mode="ios">


    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="amarilloduoc"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor ="let a of asistencia">
      <ion-label>{{a.registro}}</ion-label>
    </ion-item>
  </ion-list>


</ion-content>